
.home-header {
  background: linear-gradient(to right,black,transparent);
}
.home-title {
  font-size: 2em;
  position: relative;
  color: white;
  z-index: 2;
}
ion-menu-button{
  color: white;
  font-size: 2em;
}
